bin/
debug/
.vs/
obj/
EmployeeManagment/EmployeeManagment/obj/project.assets.json
EmployeeManagment/EmployeeManagment/obj/EmployeeManagment.csproj.nuget.cache
EmployeeManagment/EmployeeManagment/obj/EmployeeManagment.csproj.nuget.cache
EmployeeManagment/EmployeeManagment/obj/Debug/netcoreapp3.1/EmployeeManagment.pdb
EmployeeManagment/EmployeeManagment/obj/Debug/netcoreapp3.1/EmployeeManagment.dll
EmployeeManagment/EmployeeManagment/obj/Debug/netcoreapp3.1/EmployeeManagment.csprojAssemblyReference.cache
EmployeeManagment/EmployeeManagment/obj/Debug/netcoreapp3.1/EmployeeManagment.csproj.FileListAbsolute.txt
EmployeeManagment/EmployeeManagment/obj/Debug/netcoreapp3.1/EmployeeManagment.assets.cache
EmployeeManagment/EmployeeManagment/bin/Debug/netcoreapp3.1/EmployeeManagment.pdb
EmployeeManagment/EmployeeManagment/bin/Debug/netcoreapp3.1/EmployeeManagment.dll

